*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' sans-serif;
}
 /* Header */

.main-header{
    background-color: #EAC926;
    padding: 15px;   
}
header div .logo{
    width: 100px;  
    display: block;  
}

.hamburger-button{
    background-color: #0044AA;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
a .hamburger-button .fas{
    color: #ffffff;
}
main h1{
    text-align: center;
    color:#03264c;
    margin: 10px;
}

.form-crear{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.nombre, .usuario, .nacimiento,
.direccion, .tipo-usuario, .categorias, .foto-perfil, .password, .botones{
    margin: 5px;
    padding: 10px;   
}

label.estilos-label{
    font-size: 20px;
    color: #012964;
}

main form.fa, .fas, .far{
    font-size:20px;
    margin-right:3px;
    color: #012964;
}
div.button{
    background-color:#012964;
    color: #ffffff;
}

/* FOOTER */

.footer-edit{
    margin: 20px 0;
    background-color: #ebebee;
}
.credit-card, .gift, .security{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    color:#1259c3;
}
.card, .free-shipping, .safety {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}