*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
body{
    background-color: #ebebeb;
    font-size: 12px;  
}
h3{
    font-size: 24px;
}

/* --- Header ---*/

.main-header{
    background-color: #EAC926;
    padding: 20px;    
}
.header-top-bar{
    display:flex;
    flex-direction: column;
    
}
header div .logo{
    width: 200px; 
    display: block;  
}
input.search-bar{
    width: 200px;
    margin: 30px 0;

}
.copy-header{
    margin: 15px 0;
    width:100%;
    font-size: 20px;
    
    
}
.hamburger-button{
    background-color: #03264c;
    color: #ffffff;
    display: none;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
.fas.fa-bars{
    display: none;
}
.main-nav-bar{
    display:flex;
    flex-direction: column;
    
}
.main-nav-bar.left-navbar{
    margin: 10px 0;
    display: block;
}
.main-nav-bar ul{
    display: block;
    list-style: none;
    margin:0;
    padding: 0;
}
.main-nav-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
li i.far.fa-id-card,
li i.fas.fa-sign-in-alt,
li i.fas.fa-shopping-basket{
    color:#1259c3;
    margin: 2px;
}

section .banner{
    width: 100%;
}
main{
    background-color: #ebebeb;
    margin: 0 auto;
    width: 90%;
    
}
main section article{
    background-color: #ffffff;
    margin: 10px 0 10px 0;
    position: relative;
    border-radius: 15px;
    
}
main section > h3{
    margin: 5px;
    padding: 5px;
}

.fas.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:green;

}
main section article .image{
    border-radius: 15%;
    width: 100%;
}
article div.main-article{
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    position: relative;

    
}
article p.price{
    font-size: 20px;
    font-weight: bolder;
    width: 30%;
    margin: 5px;

}
.off{
    font-size: 16px;
    font-weight: bold;
    margin-top: 1px;
    color: green;
}
.description{
    font-size: 16px;
    font-weight: normal;
    margin-top: 1px;
    display: none;
}

.credit-card, 
.gift, 
.security{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    color:#1259c3;
}
.card,
.free-shipping, 
.safety {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
footer{
    margin: 10px 0;
    padding: 10px;
    
}


/*----Media Queries-----*/

@media (min-width: 361px){

    .hamburger-button{
        display: none;
        margin-top: 30px;
    }
    .fas.fa-bars{
        display: none;
    }
    .description{
        display: block;
    }
    nav.main-nav-bar{
        display:flex;
        flex-direction: row; 
        align-items: center;
        justify-content: space-between;  
    }

    main section div.products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section article{
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media (min-width: 769px){
    .copy-header{
        text-align: center;
    }
    .hamburger-button{
        display: none;
    }
    .description{
        display: inline-block;

    }
    nav.main-nav-bar{
        display:flex;
        flex-wrap: wrap;
        align-items: center; 
        justify-content: space-between;
    }
    ul.left-navbar li a{
        margin: 10px;
        
    }
    .main-nav-bar ul{
        display: flex;
        list-style: none;
        margin:10px;
        padding: 10px;
    }
    main section.products{
       /* box-shadow:​0px​ ​10px​ rgb​(​100​, ​100​, ​100​);*/
       margin:10px 0;

    }
}