*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}
body{
    background-color: #ebebeb;
    font-size: 12px;  
}
h3{
    font-size: 24px;
}

/* --- Header ---*/

.main-header{
    background-color: #EAC926;
    padding: 20px; 
    
}
header div .logo{
    width: 100px;  
    display: block;  
}
.copy-header{
    font-weight: 400px;
    text-align: center;
}
.hamburger-button{
    background-color: #03264c;
    color: #ffffff;
    display: block;
    max-width: 50px;
    padding: 15px 0;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin: auto;
}
header nav .main-nav-bar{
    display:flex;
    flex-wrap: wrap;
}
.main-nav-bar ul{
    list-style: none;
    margin:0;
    padding: 0;

}
.main-nav-bar a{
    text-decoration: none;
    color: #222222;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}
section .banner{
    width: 100%;
}
main{
    background-color: #ebebeb;
    margin: 0 auto;
    width: 90%;
    
}
main section article{
    background-color: #ffffff;
    margin: 10px 0 10px 0;
    position: relative;
    border-radius: 15px;
    
}

.fas.fa-truck{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color:green;

}
main section article .image{
    border-radius: 15%;
    width: 100%;
}
article div.main-article{
    border-top: 1px solid #ebebeb;
    width: 100%;
    padding: 15px;
    display: flex;
    position: relative;

    
}
article p.price{
    font-size: 18px;
    font-weight: bold;
    width: 30%;

}
.off{
    font-size: 16px;
    font-style: normal;
    margin-top: 1px;
    color: green;
}
.description{
    font-size: 16px;
    font-weight: normal;
    margin-top: 1px;
}

.credit-card, .gift, .security{
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
    color:#1259c3;
}
.card, .free-shipping .safety {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}


/*----Media Queries-----*/

@media (min-width: 361px){

    .hamburger-button{
        display: block;
        margin-top: 30px;
    }

    .description{
        display: none;
    }

    .main-nav-bar{
        display: none;
    }
    main section div.products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    main section article{
        width: 45%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

}

@media (min-width: 769px){

}