*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: #ebebeb;
  
}

h3{
    font-size: 15px;
    color: #666;
}

p{
    color: #231312;
    font-size: 12px;
}

 /* >---------- Header ----------< */
header {
     background-color:#EAC926; 
 }

div.top-header{
    padding: 5%;
}

div.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header div .logo{
    width: 50%;
    padding: 10px;
}
header p{
    margin-top: 10px;
    text-align: center;
}
div.form{
    padding: 10px 5px;
    width: 50%;
    background-color: #ffffff;
    border-radius:5px;
    color: #666;
    justify-content: space-between;
}
div.input{
    display: flex;
    width: 100%;
}
div.input input{
    border: none;
    width: 90%;
}
div.input button{
    border: none;
    background-color: #ffffff;
    cursor: pointer;
}
/* >----------MAIN HEADER----------< */

nav.main-nav-bar{ 
    margin:15px 10px;
    display: none;
}
nav ul li{
    list-style: none;
    margin:8px;
    
}
nav.main-nav-bar li a{
    text-decoration: none; 
    font-weight: bold;
    color: #000;
    font-size: 10px;  
}
nav ul.right-nav-bar a i {
    color: #0044AA;
    font-weight: bold;
}
div.burger-menu{
    text-align: center;
}
div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    margin: 10px 0px 20px 0px;
    padding: 15px;
}
p i.fas.fa-hand-holding-usd{
    color:#000;
}

/*-----PRODUCTOS------*/

div.last-views,
div.off{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color:rgb(100, 100, 100);
}

.description{
    display: none;
    margin-top: 20px;
}

section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    border-radius: 5px;
    background-color: #fff;    
    margin: 10px 0px;
}

main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}


/* >---------- FOOTER ----------< */
footer{
    background-color: #ffffff;
    width: 90%;
    margin: auto;
    
}
footer article{
    margin:5px auto;
    

}
.footer-edit{
    margin: 20px 0;
    background-color: #ebebeb;
    
}

.credit-card, .gift, .security{
    text-align: center;
    margin: 5px auto 0;
    font-size: 2em;
    color:#1259c3;
}

.card, .free-shipping, .safety {
    text-align: center;
    font-weight: bold;
    padding: 5px;
}
footer div.pie-footer{
    background-color: #ebebeb;
    text-align: center;
    font-size:12px;
    font-weight: bolder;
}

@media (min-width: 361px){

    .description{
        display: block;
    }

    main section article{
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        border-radius: 5px;
    }

    main section div.products{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }

    .price,
    .discount{
        width: 50%;
    }
    
}


@media(min-width: 769px){
    div.top-header{
        display:flex;
        justify-content: space-between;
        }
    div.main-header{
        width: 153%;
        }
    div.top-header p{
        align-self: center;
        padding-top: 12px;
        font-size: 16px;
    }
    nav.main-nav-bar{
    display: flex;
    justify-content: space-between;
            
    }
    nav ul li{
        margin: 10px;
    }
    nav.main-nav-bar li a{
    font-size: 18px;
            
    }
    nav ul.left-nav-bar{
        display: flex;
        justify-content: space-between;
    }
    nav ul.right-nav-bar{
        display:flex;
        justify-content: space-between;
    } 
    .burger-menu{
        display: none;
    }
    
    main section div.products article{
        width: 22%;
    }
    .footer-edit{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    

}